<%= erb :'layouts/_header' %>
  <div class="container" role="main">
    <h1 class="center">About This Site</h1>
      <div class="about-div left-about">
        <h1 class="center">Background</h1>
        <p class="background">This Weekend or Next is a simple app designed to educate the masses about the difference between using "this weekend" and "next weekend." It was inspired by <a href="http://oxtweekend.com/" target="_blank">Oxt Weekend</a> and a twitter conversation with <a href="https://twitter.com/amyfarley/status/492851285201137665" target="_blank">@amyfarley</a>.
      </div>
      <div class="about-div right-about center">
        <h1>Creator</h1>
        <p>This Weekend or Next was built with love in the Ruby-005 semester at the <a href="http://flatironschool.com" target="_blank">Flatiron School</a> by:</p>
        <div class="bio">
          <img alt="Headshot of Randall Reed" src="https://secure.gravatar.com/avatar/e33e85c7ee8569ff8f49dcf2b224705d?s=140" />
          <p>Randall Reed, Jr.</p>
          <a href="http://github.com/randallreedjr">Github</a> |
          <a href="http://randallreedjr.com">Blog</a>
        </div>
      </div>
  </div>
<%= erb :'layouts/_footer' %>
